# Site Configuration
NEXT_PUBLIC_SITE_URL=https://sagar-nepali.com.np
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=

# Sanity CMS Configuration
# Get your Project ID from https://www.sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Sanity Write Token (used for running migration script to upload content & images)
# Generate from Sanity Manage -> API -> Tokens (Editor or Admin permissions)
SANITY_API_TOKEN=
